<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BookstoreAPITestSuite" verbose="1">
    <parameter name="browser" value="chrome"/>
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <!-- Complete Test Suite - Runs ALL tests from ALL classes -->
    <test name="AllTests" preserve-order="false">
        <classes>
            <class name="com.bookstore.tests.BookApiTests"/>
            <class name="com.bookstore.tests.AuthorApiTests"/>
            <class name="com.bookstore.tests.IntegrationTests"/>
            <class name="com.bookstore.tests.SecurityTests"/>
        </classes>
    </test>
</suite> 